@model ElectionLand.Models.Election
@{
    ViewBag.Title = "";
}

<form asp-action="create" asp-controller="admin">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Назва</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Рік</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartElection" class="control-label">Початок виборів</label>

        <input type="datetime" asp-for="StartElection" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndElection" class="control-label">Кінець виборів</label>
        <input type="datetime" asp-for="EndElection" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>