@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>


    <main>

        <div class="container">
            <img class="img" src="images/sky.jpg">
            <div class="center"> Обери майбутнє України Твій голос вирішує!</div>
        </div>


        <!-- features section -->
        <div class="site-section">
            <div class="site-section-inside">

                <div class="section-header">
                    <h2>Свідомий вибір запорука:</h2>
                </div>

                <div class="feature-box">
                    <img src="images/like.png" alt="Easy to Use">
                    <h5>Процвітаючого майбутнбого для нащадків</h5>
                </div>

                <div class="feature-box">
                    <img src="images/faces.png" alt="Fun to Use">
                    <h5>Європейський напрям розвитку всієї України. Від Заходу до Сходу!</h5>
                </div>

                <div class="feature-box">
                    <img src="images/heart.png" alt="Fun to Use">
                    <h5>Українські цінності понад усе!</h5>
                </div>

            </div>
        </div>

        <!-- testimonials section -->
        <div class="site-section site-section-secondary">
            <div class="site-section-inside">

                <div class="section-header">
                    <h2>Що говорять про вибори України:</h2>
                </div>

                <div class="testimonial-box">
                    <div class="testimonial-content">
                        Українці домоглися свого їхні, голоси почуті!
                    </div>
                    <div class="testimonial-author">
                        <img src="images/david.jpg" alt="David East">
                        <h5>Барак Обама</h5>
                        <span>44 президент США</span>
                    </div>
                </div>

                <div class="testimonial-box">
                    <div class="testimonial-content">
                        Українці дали рішучий сигнал підтримки реформам!
                    </div>
                    <div class="testimonial-author">
                        <img src="img/holly.jpg" alt="Holly Lloyd">
                        <h5>Вільям Хейг</h5>
                        <span>Міністр закордонних справ Великобританії</span>
                    </div>
                </div>

                <div class="testimonial-box">
                    <div class="testimonial-content">
                        Вибори в Україні відбулися згідно з міжнародними стандартами.
                    </div>
                    <div class="testimonial-author">
                        <img src="images/brad.jpg" alt="Brad Green">
                        <h5>Жоао Соарес</h5>
                        <span>Координатор ОБСЄ зі спостереженням за виборами</span>
                    </div>
                </div>

            </div>
        </div>

    </main>

</body>
</html>



