@model IEnumerable<ElectionLand.Models.Election>
@{
    ViewData["Title"] = "Вибори";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="~/css/cssss1.css" />
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />

    <main>
        <p class="H1">Бюлетень</p>


        <h4>Radio Buttons</h4>

        <div class="funkyradio">

            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio1" />
                <label for="radio1">
                    Зеленський Володимир
                </label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio2" />
                <label for="radio2">
                    Перторо Порошенко
                </label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio3" />
                <label for="radio3">
                    Тимошенко Юлія

                </label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio4" />
                <label for="radio4"> Ляшко Олег
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio3" />
                <label for="radio3">Third Option success</label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio3" />
                <label for="radio3">Third Option success</label>
            </div>

        </div>
       


        <label class="container">
            Зеленський Володимир<br>
            1977 Партія Слуга Народу

            <input type="radio" name="radio"  class="funkyradio-primary">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Перторо Порошенко<br>
            1957 Партія Вори Народу
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Тимошенко Юлія<br>
            1956 Партія Продам Батьківщину
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Ляшко Олег<br>
            1972 Партія Радикальна Істерія
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Пишняк Вадим<br>
            1998 Партія LoKoMoTyV
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>

        <button class="button" style="vertical-align:middle"><span>Голосувати </span> </button>

        <p></p>

    </main>
</body>
</html>
