@model IEnumerable<ElectionLand.Models.Election>
@{
    ViewData["Title"] = "Вибори";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />

    <main>
        <p class="H1">Бюлетень</p>

        <label class="container">
            Зеленський Володимир<br>
            1977 Партія Слуга Народу
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Перторо Порошенко<br>
            1957 Партія Вори Народу
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Тимошенко Юлія<br>
            1956 Партія Продам Батьківщину
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Ляшко Олег<br>
            1972 Партія Радикальна Істерія
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            Пишняк Вадим<br>
            1998 Партія LoKoMoTyV
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>

        <button class="button" style="vertical-align:middle"><span>Голосувати </span> </button>

        <p></p>

    </main>
</body>
</html>
