
@{
    ViewData["Title"] = "Registration";
}
@model User
<h2>Реєстрація</h2>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">

                <form asp-controller="Cabinet" asp-action="Registration" method="post" align="centre">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input asp-for="FirstName" class="form-control" placeholder="First name" type="text" >
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input asp-for="LastName" class="form-control" placeholder="Last name" type="text" >
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" asp-for="BirthDate" type="date" class="form-control" placeholder="Date of birth" >
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input asp-for="Email"  class="form-control" placeholder="Email address" type="email" >
                    </div>


                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" asp-for="PIN" placeholder="PIN" type="text" >

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>



                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input asp-for="Login"  class="form-control" placeholder="Login" type="text" >

                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>


                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" asp-for="Password" placeholder="Create password" type="password" >

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div> <!-- form-group// -->




                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <select class="form-control" name="districtId" id="cbox" required>
                            <option selected=""> Оберіть дільницю</option>
                            <option value="1">LoKoMoTyV</option>
                            <option value="2">Master Splinter</option>
                            <option value="3">Bit and Byte</option>
                            <option value="4">Select</option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <button type="submit" class="btn btn-primary btn-block"> Зареєструватись  </button>
                    </div>

                </form>
            </article>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
