
@{
    ViewData["Title"] = "Registration";
}
@model User
<h2>Реєстрація</h2>
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form asp-controller="Cabinet" asp-action="Registration" method="post">
        <hr/>
        <label asp-for="FirstName">Your first name:</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <hr>

        <label asp-for="LastName">Your last name:</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        <hr>

        <label asp-for="BirthDate">Your date of birth:</label>
        <input asp-for="BirthDate" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
        <hr>

        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email" />
        <hr>

        <label asp-for="PIN">Your PIN:</label>
        <input asp-for="PIN" type="text"/>
        <span asp-validation-for="PIN" class="text-danger"></span>
        <hr>

        <label asp-for="Login">Your login:</label>
        <input asp-for="Login" />
        <span asp-validation-for="Login" class="text-danger"></span>
        <hr>

        <label asp-for="Password">Your password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <hr>

        <button type="submit">Зареєструватись</button>
    </form>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
