@model IEnumerable<ElectionLand.Models.Complaints>
@{
    ViewData["Title"] = " ‡·≥ÌÂÚ ¬Ë·Óˆˇ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />
    <div><h1> —Í‡„Ë</h1></div>
    <div className="container">

        <div className="row">
            <div className="col-md-8">
                <table class="table table-hover">


                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div class="title-text" style="border:1px grey">
                                        <div><h4>WatcherId:@item.Id</h4></div>
                                        <p style="font-style:italic;font-size:20px">@item.Type</p><span style="padding-left: 4px;">
                                        </span>
                                        <div class="info">
                                            <p><b> @item.Text</b></p>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>


            </div>

        </div>
    </div>
</body>
</html>
