
@{
    ViewData["Title"] = "Registration";
}
@model User
<!DOCTYPE html>
<html>
<body>
    <form asp-action="Registration" method="post">
        <label asp-for="FirstName">Your first name:</label>
        <input asp-for="FirstName" />
        <hr>

        <label asp-for="LastName">Your last name:</label>
        <input asp-for="LastName" />
        <hr>

        <label asp-for="BirthDate">Your date of birth:</label>
        <input asp-for="BirthDate" type="date" />
        <hr>

        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email" />
        <hr>

        <label asp-for="PIN">Your PIN:</label>
        <input asp-for="PIN" />
        <hr>

        <label asp-for="Login">Your login:</label>
        <input asp-for="Login" />
        <hr>

        <label asp-for="Password">Your password:</label>
        <input asp-for="Password" />
        <hr>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
