@model IEnumerable<ElectionLand.Models.Watcher>

@{
    ViewData["Title"] = "ShowWatchers";
}

<br />
<div><h1> —ÔÓÒÚÂ≥„‡˜≥</h1></div>
<div className="container">

    <div className="row">
        <div className="col-md-8">
            <table class="table table-hover">
                <tr><td><h3>Номер</h3></td><td><h3>≤Ім'я</h3></td><td><h3>Кандидат</h3></td><td><h3>Дільниця</h3></td></tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Election.Title</td>
                        <td>@item.User.FirstName</td>
                        <td>@item.Candidate.User.FirstName</td>
                        <td>@item.VirtualCanton.Title</td>
                    </tr>

                }
            </table>

        </div>
        <div className="col-md-4">

        </div>

    </div>
</div>
