@{
    ViewData["Title"] = "Кабінет Адміністратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>


    <br />
    <div><h1>               Кабінет Адміністратора</h1></div>


    <div class="col-md-3 ">
        <div class="list-group ">
            @* <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="About"><h3>Вибори</h3></a>*@
            <a asp-area="" class="list-group-item list-group-item-action " asp-action="Canton"><h3>Округи</h3></a>
            <a asp-area="" class="list-group-item list-group-item-action " asp-action="District"><h3>Дільниці</h3></a>
            <a asp-area="" class="list-group-item list-group-item-action " asp-action="Elections"><h3>Вибори</h3></a>
            <a asp-area="" class="list-group-item list-group-item-action " asp-action="Candidacy"><h3>Заявки</h3></a>
            <a href="#" class="list-group-item list-group-item-action "><h3>...</h3></a>

        </div>

    </div>

</body>
</html>



