@using ElectionLand.Models
@model VirtualCanton
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="EditCanton" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Назва</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adress" class="control-label">Адреса</label>
        <input type="text" asp-for="Adress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Centre" class="control-label">Центр</label>
        <input type="text" asp-for="Centre" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>